<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.keller.dao.CarPictureMapper" >
  <resultMap id="BaseResultMap" type="com.keller.model.CarPicture" >
    <id column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="c_id" property="cId" jdbcType="INTEGER" />
    <result column="image1" property="image1" jdbcType="VARCHAR" />
    <result column="image2" property="image2" jdbcType="VARCHAR" />
    <result column="image3" property="image3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    p_id, c_id, image1, image2, image3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_car_picture
    where p_id = #{pId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_car_picture
    where p_id = #{pId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.keller.model.CarPicture" >
    insert into t_car_picture (p_id, c_id, image1, 
      image2, image3)
    values (#{pId,jdbcType=INTEGER}, #{cId,jdbcType=INTEGER}, #{image1,jdbcType=VARCHAR}, 
      #{image2,jdbcType=VARCHAR}, #{image3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.keller.model.CarPicture" >
    insert into t_car_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        p_id,
      </if>
      <if test="cId != null" >
        c_id,
      </if>
      <if test="image1 != null" >
        image1,
      </if>
      <if test="image2 != null" >
        image2,
      </if>
      <if test="image3 != null" >
        image3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="cId != null" >
        #{cId,jdbcType=INTEGER},
      </if>
      <if test="image1 != null" >
        #{image1,jdbcType=VARCHAR},
      </if>
      <if test="image2 != null" >
        #{image2,jdbcType=VARCHAR},
      </if>
      <if test="image3 != null" >
        #{image3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.keller.model.CarPicture" >
    update t_car_picture
    <set >
      <if test="cId != null" >
        c_id = #{cId,jdbcType=INTEGER},
      </if>
      <if test="image1 != null" >
        image1 = #{image1,jdbcType=VARCHAR},
      </if>
      <if test="image2 != null" >
        image2 = #{image2,jdbcType=VARCHAR},
      </if>
      <if test="image3 != null" >
        image3 = #{image3,jdbcType=VARCHAR},
      </if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.keller.model.CarPicture" >
    update t_car_picture
    set c_id = #{cId,jdbcType=INTEGER},
      image1 = #{image1,jdbcType=VARCHAR},
      image2 = #{image2,jdbcType=VARCHAR},
      image3 = #{image3,jdbcType=VARCHAR}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
</mapper>